@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebf2ff;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    gap: 12px;
}

.title {
    text-transform: capitalize;
    font-weight: 500;
}

.inpt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.inpt input {
    width: 300px;
    outline: none;
    padding: 6px 8px;
    font-size: medium;
    font-weight: bold;
}

.btn {
    background-color: green;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    font-size: medium;
    font-weight: bold;
}

.items-list {
    margin-top: 42px;
}

.items {
    width: 700px;
    background-color: #fff;
    padding: 8px 12px;
    margin: 12px 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.utility {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.edit {
    color: green;
    text-transform: capitalize;
    font-weight: 500;
}

.delete {
    color: red;
    font-size: medium;
}

@media (min-width: 1024px) {
    .container {
        width: 100%;
    }

}